/*
==========================================
    Reset Css
==========================================
*/
html, body{
	height:100%;
}
ul {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a{
	text-decoration: none!important;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width:65%;
}

/*
==========================================
    Header Menu start
==========================================
*/

header {
    background: #000;
    padding: 20px 0;
    border-bottom: 2px solid #f96b6b;
}
.logo-area a {
    font-size: 35px;
    text-transform: capitalize;
    color: #ffffff;
    font-weight: 700;
    display: inline-block;
    margin: 0;
    padding: 0;
}
.logo-area a i {

    color: #f96b6b;
    margin-right: 13px;

}
.login-area a {

    font-size: 17px;
    background: #F25C05;
    padding: 5px 15px;
    display: inline-block;
    border-radius: 8px;
    margin-top: 10px;
    color: #ffffff;
    text-transform: capitalize;
    font-weight: 600;
    transition: .5s;

}
.login-area a:hover {
    background: #503d1f;
}
/*
==========================================
    Header Menu end
==========================================
*/

/*
==========================================
    hero Menu start
==========================================
*/
.hero-area{
    background: url('../img/hero.jpg');
    padding: 100px 0;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    z-index: 0;
    position: relative;
}
.hero-area:after{
    content: '';
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #252525;
    position: absolute;
    opacity: .54;
    z-index: -1;
}
.text-table {
    display: table;
    height: 100%;
    text-align: center;
    width: 100%;
}
.text-tablecell {
    display: table-cell;
    vertical-align: middle;
}
.hero-area h2 {
    font-size: 30px;
    text-align: left;
    color: #fff;
    font-weight: 700;
    padding: 17px 0px;
}
.button-group {
    background: rgba(0,0,0,0.6);
    padding: 27px 33px;
    width: 100%;
    border-radius: 10px;
    border: 2px solid #F91A07;

}
.button-group-2{
   padding: 25px 33px;
}
.conversion_wrapper a{
    background: #3e5a96;
    height: 100% 
    width:100%;
    height: 44px;
    width: 100%;
    display: inline-block;
    border-radius: 5px;
    line-height: 41px;
     overflow: hidden;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid #F25C05;
    transition: .5s;
}
.conversion_wrapper a:hover{
    background: transparent;
    color: #F25C05;
    border: 2px solid #F25C05;
}
.button-group-2 {
    margin-top: 27px;
}
.conversion_wrapper-2 a {
    background: #3e5a96;
    min-height: 48px;
    width: 100%;
    display: inline-block;
    line-height: 45px;
    text-transform: uppercase;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 5px;
    border: 2px solid #F91A07;
    transition: .5s;
}
.conversion_wrapper-2 a:hover{
    background: transparent;
    color: #F91A07;
    border: 2px solid #F91A07;

}
/*
==========================================
    hero area end
==========================================
*/
/*
==========================================
    footer-area start
==========================================
*/
.footer-menu-area {
    background: #5F5B5B;
    padding: 10px 0px;
    border-top: : 2px solid #f96b6b;

}

    
.footer-menu-area ul {
    justify-content: space-between;
    overflow: hidden;
}
.footer-menu-area ul li {
    padding: 15px 0;
}  
.footer-menu-area ul li a {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 15px;
    transition: .5s;
}
  
.footer-menu-area ul li a {
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
    padding: 10px 15px;
    transition: .5s;
}
 /*
==========================================
    footer-area end
==========================================
*/

/*
==========================================
    bottom social icon start 
==========================================
*/


.footer-copyright {
    background: #000000;
}
.footer-copyright{
    background: #232323;
    padding: 20px 0;
}
.footer-copyright p {
    color: #ffffff;
}
.social-icon ul {
    width: 276px;
    margin: 0 auto;
    margin-top: 8px;
}
.social-icon ul li {
    margin: 11px 8px;
    height: 39px;
    width: 39px;
    text-align: center;
    overflow: hidden;
    transition: .5s;

}
.social-icon ul li a{
    font-size: 20px;
    color: #ffffff;
    line-height: 35px;
    transition: .5s;
}

.social-icon ul li a:hover{
    color: #F25C05;
}





/*
==========================================
    bottom social icon area end
==========================================
*/
 /*
==========================================
   responsive css
==========================================
*/
.footer-menu-area ul li a:hover {
    background: #F25C05;
     padding: 10px 15px;
     border-radius: 5px;
    
}
@media only screen and (max-width: 1090px){
.container{
    width: 80%;
}
}
@media only screen and (max-width: 508px){
.container{
    width: 100%;
}
}
@media only screen and (max-width: 386px){
.container{
    width: 100%;
}